filtered/
.vscode/
5_detector_code_backup.zip
Output_FaceDetector_Table1.csv
__pycache__/
*.py[cod]
*$py.class
5_detector_code/
failed_case*.log
known/
result*.csv
experiments/
result*/
pillow_testing.py
average_test.py
average_test*.py
